@model IEnumerable<NewResume.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h2>Jobs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JobTitle)
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSortParam">
                            Start Date
                        </a> 
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDateTo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDateFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDateTo)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
