@model NewResume.Models.Employer

@{
    ViewData["Title"] = "Employer";
}

<h2>Employer</h2>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerZip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerZip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmployerWebsite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmployerWebsite)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
